{% extends "base.html" %}

{% block title %}
  {% if form.instance.pk %}
    Edit Category
  {% else %}
    Create Category
  {% endif %}
{% endblock %}

{% block content %}
  <h1>
    {% if form.instance.pk %}
      Edit Category: {{ form.instance.name }}
    {% else %}
      Create New Category
    {% endif %}
  </h1>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Save</button>
  </form>
  <p><a href="{% url 'courses_admin:category_list' %}">Back to Category List</a></p>
{% endblock %}