{% extends "base.html" %}

{% block title %}
  {% if object %}
    Edit module "{{ object.title }}"
  {% else %}
    Create a new module
  {% endif %}
{% endblock %}

{% block content %}
  <h1>
    {% if object %}
      Edit module "{{ object.title }}"
    {% else %}
      Create a new module
    {% endif %}
  </h1>
  <div class="module-content">
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <p><input type="submit" value="Save module"></p>
    </form>
  </div>
{% endblock %}